{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <style>
        /* Inline a basic style to ensure something applies */
        body {
            background-color: #e0f7fa !important;
        }
    </style>
    <link rel="stylesheet" href="https://hover-stop.github.io/docs/assets/css/custom.css">
    <link rel="stylesheet" href="https://hover-stop.github.io/docs/assets/css/test.css">
{% endblock %}

{% block header %}
<header>
    <img src="{{ config.site_url }}/assets/img/logo.png" alt="HoverStop Logo">
</header>
<nav>
    <a href="{{ config.site_url }}/">Home</a>
    <a href="{{ config.site_url }}/content/technical-data/">Technical Data</a>
    <a href="{{ config.site_url }}/content/build-guides/">Build Guides</a>
    <a href="{{ config.site_url }}/content/manuals/">Manuals</a>
    <a href="{{ config.site_url }}/content/brand-guidelines/">Brand Guidelines</a>
</nav>
{% endblock %}

{% block content %}
<div class="container-lg px-3 my-5 markdown-body">
    {{ page.content }}
</div>
{% endblock %}