{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/custom.css">
{% endblock %}

{% block header %}
<header>
    <img src="{{ base_url }}/assets/img/logo.png" alt="HoverStop Logo">
</header>
<nav>
    <a href="{{ base_url }}/">Home</a>
    <a href="{{ base_url }}/content/technical-data/">Technical Data</a>
    <a href="{{ base_url }}/content/build-guides/">Build Guides</a>
    <a href="{{ base_url }}/content/manuals/">Manuals</a>
    <a href="{{ base_url }}/content/brand-guidelines/">Brand Guidelines</a>
</nav>
{% endblock %}

{% block content %}
<div class="container-lg px-3 my-5 markdown-body">
    {{ page.content }}
</div>
{% endblock %}