{% extends "base.html" %}

{% block header %}
<link rel="stylesheet" href="/docs/content/site/assets/css/custom.css">
<header>
    <img src="/assets/img/logo.png" alt="HoverStop Logo">
</header>
<nav>
    <a href="/docs/content/index.html">Home</a>
    <a href="/docs/content/technical-data/index.html">Technical Data</a>
    <a href="/docs/content/build-guides/index.html">Build Guides</a>
    <a href="/docs/content/manuals/index.html">Manuals</a>
    <a href="/docs/content/brand-guidelines/index.html">Brand Guidelines</a>
</nav>
{% endblock %}

{% block content %}
<div class="container-lg px-3 my-5 markdown-body">
    {{ content }}
</div>
{% endblock %}